@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.main {
  background-color: #fafafa;
  background-color: #fafafa;
  min-height: 300vh;
}

.heads {
  top: 0;
  left: 0;
  display: flex;

  align-items: center;
  transition: 0.6s;
  position: fixed;
  width: 100%;
  padding: 25px 80px;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #fafafa;
}

.heads.sticky {
  background-color: white;
  padding: 10px 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  svg {
    color: #c49898;
  }
  input {
    border: 1px solid #c49898;
  }
}

.logo {
  position: relative;
  cursor: pointer;
  transition: 0.6s;
  img {
    height: 50px;
    width: 170px;
  }
  &:hover {
    color: #b7ced2;
  }
}
.sea {
  margin-left: 300px;
  height: 30px;
  width: 200px;
  border: 1px solid #e8e8e8;
  text-align: center;

  background-color: #fafafa;
}

.nav {
  display: flex;
  color: white;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 135px;
  li {
    margin-right: 30px;
    list-style: none;
    cursor: pointer;

    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    border: none;
    color: #528e86;
    position: relative;
    svg {
      color: #bd7676;
    }

    a {
      position: relative;

      text-decoration: none;
      color: black;

      transition: 0.6s;
      &:hover {
        color: #f3bb5c;
        // border-bottom: 1px solid orange;
      }
      &::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        left: 50%;
        top: 24px;
        bottom: 0;
        background-color: #bd7676;

        transition: all ease-in-out 0.15s;
      }
      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.heads.sticky .nav li a {
  color: #528e86;
}

.profile-pict {
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.content-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  row-gap: 1em;
  column-gap: 1em;

  .side-bar {
    margin-top: 170px;
    background-color: red;
    justify-self: start;
    margin-left: 40px;
    img {
      position: fixed;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: -30px;
    }
    .usernm {
      position: fixed;
      margin: 0px 0px 0px 0px;
      overflow: auto;
      margin-left: 0px;
      font-weight: bold;
      p {
        font-weight: normal;
        margin: 5px 0px 0px 58px;
        overflow: auto;
        color: #acacac;
      }
    }
    .alihkan {
      position: fixed;
      color: #1a9ff6;
      font-size: 14px;
      font-weight: bold;
      margin: 0px 0px 0px 20px;
      margin-left: 248px;
      cursor: pointer;
    }
  }
}

.igs {
  height: 120px;
  width: 750px;
  border: 1px solid #e7e7e7;
  margin-top: 150px;
  margin-left: 100px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  .story1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #efefef;
    border: 1px solid #dddddd;
    margin: auto;
  }
}

.conten-photo {
  .main-content1 {
    .coob {
      display: flex;
      p {
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 24px;
        opacity: 80%;
      }
      svg {
        margin-top: 23px;
        margin-left: 520px;
        cursor: pointer;
      }
    }
    width: 750px;
    min-height: 800px;
    border: 1px solid #e7e7e7;
    margin-left: 100px;
    background-color: white;
    margin-top: 10px;
    .user-con {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: start;
      margin: 20px 0px 0px 20px;
    }
    .content1 {
      width: 750px;
      margin-top: 20px;
      border-top: 1px solid #e7e7e7;
    }
  }
}

.ffa {
  .saran {
    margin-top: -40px;
    display: flex;
    position: fixed;
    .saa {
      margin-left: 10px;
      margin-right: 123px;
      font-weight: bold;
      color: grey;
    }
    .lii {
      font-size: 13px;
      color: grey;
    }
  }
}

.user-rec {
  display: flex;
  margin-top: 10px;
  margin-left: 1em;
  margin-bottom: 40px;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
  }
  .usernm-rec {
    font-weight: bold;
    margin-left: 20px;
    position: fixed;
    p {
      margin-left: 35px;
      font-weight: normal;
      color: grey;
      font-size: 13px;
    }
  }
  .user-rec-ikuti {
    position: fixed;
    color: #1a9ff6;
    font-weight: bold;
    margin-left: 295px;
    font-size: 12px;
  }
}
.user-rec1 {
  display: flex;
  margin-top: 50px;
  margin-left: 1em;
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
  }
  .usernm-rec {
    font-weight: bold;
    margin-left: 20px;
    position: fixed;
    p {
      font-size: 13px;
      margin-left: 35px;
      font-weight: normal;
      color: grey;
    }
  }
  .user-rec-ikuti {
    color: #1a9ff6;
    font-weight: bold;
    font-size: 12px;
    position: fixed;
    margin-left: 295px;
  }
}
